
layout {
    element:cn.kkserver.view.document.LayoutElement;
}

touch {
    element:cn.kkserver.view.document.TouchElement;
}

canvas {
    element:cn.kkserver.view.document.CanvasElement;
}

text {
    element:cn.kkserver.view.document.TextElement;
}

img {
    element:cn.kkserver.view.document.ImageElement;
}

scroll {
    element:cn.kkserver.view.document.ViewElement;
    view:cn.kkserver.view.ScrollView;
}

view {
    element:cn.kkserver.view.document.ViewElement;
    view:cn.kkserver.view.ElementView;
}

color {
    element:cn.kkserver.view.document.PaintElement;
}

move {
    element:cn.kkserver.view.document.PaintElement;
}

line {
    element:cn.kkserver.view.document.PaintElement;
}

arc {
    element:cn.kkserver.view.document.PaintElement;
}

draw {
    element:cn.kkserver.view.document.PaintElement;
}

width {
    element:cn.kkserver.view.document.PaintElement;
}

.bottombar text {
    color: #41464b;
}

.bottombar:selected text {
    color: #4494ee;
}

.topbar {
    background-color: #1d2228;
}

.topbar .title {
    width: auto;
    height: auto;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    font: 18dp;
    color: #fff;
    background-color: clear;
}

.main {

}

.rise {
    color: #FD3F1D;
}

.fall {
    color: #1FBC23;
}

.none {
    color: #999;
}